@font-face {
    font-family: 'Futura Light';
    src: url('/fonts/FuturaLight.eot');
    src: url('/fonts/FuturaLight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaLight.woff2') format('woff2'),
        url('/fonts/FuturaLight.woff') format('woff'),
        url('/fonts/FuturaLight.ttf') format('truetype'),
        url('/fonts/FuturaLight.svg#FuturaLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

.loader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 10001;
 }

.loading-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	color: #585757;
}

.loader-overlay-inner {
	position: relative;
	height: 100vh;
}

.loader-overlay-inner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.loader {
	border: 7px solid #f3f3f3; /* Light grey */
	border-top: 7px solid #0A3152; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: #e7e7e8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#explore-close {
    position: fixed;
    top: 60px;
    right: 60px;
    font-family: "Futura Light";
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}

.explore-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0a3152;
    z-index: 1002;
    color: #fff;
    overflow: scroll;
    display: none;
    box-sizing: border-box;
    text-align: left;
}

.explore-nav img {
    position: fixed;
    top: 0;
    width: 150px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

#explore-left {
    padding: 150px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "Futura Light";
    vertical-align: top;
}

#explore-left > h3 {
    font-size: 1.5rem;
    margin: 30px 0;
}

.explore-section {
    text-align: left;
}

.explore-section h4 {
    text-decoration: none;
    color: #ffffff;
    margin: 20px 0;
    font-size: 1.2rem;
}

.explore-section a {
    text-decoration: none;
}

.explore-section ul li {
    margin: 10px 0 10px 20px;
    color: #ffffff;
    text-decoration: none;
}

.explore-section ul a {
    text-decoration: none;
}

#explore-right {
    padding: 150px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    font-family: "Futura Light";
    vertical-align: top;
}

#explore-right > h3 {
    font-size: 1.5rem;
    margin: 30px 0;
}
/* MOBILE */
#desktopNav {
    display: none;
}

#footer {
    width: 100%;
    background-color: #0a3152;
}

#footerBottom {
    background-color: #0e7f7e;
}

.ourworksectionnum {
    display: inline-block;
    font-size: 60px;
    color: #0e7f7e;
    vertical-align: top;
    padding: 0 5px;
    font-weight: bold;
}

.ourworksectiontext {
    display: inline-block;
    width: 80%;
    font-weight: bold;
    line-height: 24px;
}

.ourworksectiontext h6 {
    font-size: 18px !important;
}

#clientsList {
    text-align: center !important;
    padding: 0;
}

.clientEntry {
    width: 30%;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    padding: 20px 20px;
    vertical-align: top;
}

.sliderText {
    display: none;
    font-family: "Futura Light";
    font-weight: bold;
}

.flex-viewport {
    
}

#homesection1header {
    text-align: center;
    padding: 40px;
    background-color: #0e7f7e;
    font-size: 26px;
    color: #ffffff;
    font-family: "Futura Light";
    font-weight: bold;
}

#homesection1body {
    padding: 30px 0;
    text-align: center;
    font-family: "Futura Light";
    background-color: #ffffff;
}

#homesection1body b {
    color: #0e7f7e;
    font-size: 26px;
}

#homesection1body h5 {
    color: #0e7f7e;
    font-family: "Futura Light";
    font-weight: bold;
    font-size: 26px;
}

#homesection1bodydivider {
    width: 200px;
    border: 1px solid #0e7f7e;
    margin: 30px auto;
}

#homesection1body h6 {
    font-family: "Futura Light";
    padding: 0 10px; 
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    white-space: pre-wrap;
    text-align: left;
}

.readMoreButton {
    background-color:#0e7f7d;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #0e7f7d;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: "Futura Light";
    margin: 20px auto;
    font-size:17px;
    padding:11px 17px;
    text-decoration:none;
    font-weight: normal;
}
.readMoreButton:hover {
    background-color:#0e7f7d;
}
.readMoreButton:active {
    position:relative;
    top:1px;
}

#homesection2and3 {
    background-image: linear-gradient(to bottom, #0a3152 80%, #ffffff 0%);
    text-align: center;
}

#homesection2areas h6 {
    font-family: "Futura Light";
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin: 20px;
    border-bottom: 2px solid #0e7f7e;
    color: #0e7f7e;
    display: inline-block;
    font-weight: bold;
}

.homeareasicon {
    max-width: 30%;
}

.homeareasblock {
    width: 50vw;
    margin: 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    border: none;
    margin: 0 -5px;
}

.homeareasblock:hover {
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.homeareasblockheader {
    font-family: "Futura Light";
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 20px 0 80px 0;
    margin: 0 auto;
}

.homeareasblockimage {
    display: none;
    
}

.homeareasblockimagebg {
    width: 100%;
    display: block;
    height: 300px;
}

#homeareasblockimagebgstrategy {
    background-image: url("../images/home/strategy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#homeareasblockimagebgtalentmanagement {
    background-image: url("../images/home/talentmanagement.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#homeareasblockimagebgleadereffectiveness {
    background-image: url("../images/home/leadereffectiveness.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#homeareasblockimagebgtalentanalytics {
    background-image: url("../images/home/talentanalytics.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#homeareasstrategybodytext {
    background-color:#528e98;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    position: relative;
    top: -50px;
    opacity: 0.9;
}

#homeareastalentmanagementbodytext {
    background-color:#385257;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    position: relative;
    top: -50px;
    opacity: 0.9;
}

#homeareasleadereffectivenessbodytext {
    background-color:#258d8a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    position: relative;
    top: -50px;
    opacity: 0.9;
}

#homeareastalentanalyticsbodytext {
    background-color:#7ea0a8;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    position: relative;
    top: -50px;
    opacity: 0.9;
}

#homesection2body {
    background-color: #ffffff;
    padding: 40px 0;
}

#homesection2bodyheader {
    font-family: "Futura Light";
    color: #0a3152;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
}
#homesection2bodytext {
    font-family: "Futura Light";
    color: #0a3152;
    font-size: 20px;
    font-weight: 200;
    white-space: pre-wrap;
    line-height: 24px;
}

#homesection3body {
    background-color: #ffffff;
    padding: 40px 0;
}

#homesection3bodyheader {
    font-family: "Futura Light";
    color: #0a3152;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
}
#homesection3bodytext {
    font-family: "Futura Light";
    color: #0a3152;
    font-size: 20px;
    font-weight: 200;
    white-space: pre-wrap;
    line-height: 24px;
}

#homesection4 {
    background-color: #e7e7e8;
    text-align: center;
    padding: 50px 0;
    position: relative;
}

#homesection4body p {
    font-family: "Futura Light";
    color: #0e7f7e;
    font-size: 18px;
    white-space: pre-wrap;
    font-weight: bold;
    line-height: 20px;
}

#homesection4divider {
    margin: 20px auto;
    width: 40%;
    border: 1px solid #0e807e;
}

#homeourclientsparent {
    background-image: linear-gradient(to bottom, #ffffff 50%, #0a3152 0%);
}

#contactComplete {
	display: none;
	text-align: center;
	width: 80%;
	background-color: #557435;
	padding: 40px 0;
	position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#contactComplete i {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
}

#contactComplete img {
	max-width: 60%;
	margin: 10px auto;
}

#contactComplete p {
	color: #ffffff;
	font-family: Roboto;
	font-weight: 400;
	font-size: 2rem;
	margin: 20px auto;
}

#homeourclients { 
    margin: 0 auto;
    width: calc(95% - 10px);
    background-color: #ffffff;
    height: auto;
    padding: 0px;
    box-sizing: border-box;
    display: block;
    z-index: 5;
    -webkit-box-shadow: 2px -2px 25px -1px rgba(112,112,112,1);
    -moz-box-shadow: 2px -2px 25px -1px rgba(112,112,112,1);
    box-shadow: 2px -2px 25px -1px rgba(112,112,112,1);
    position: relative;
}

.homeourclients { 
    margin: 0 auto;
    width: calc(95% - 10px);
    background-color: #ffffff;
    height: auto;
    box-sizing: border-box;
    display: block;
    z-index: 5;
    -webkit-box-shadow: 2px -2px 25px -1px rgba(112,112,112,1);
    -moz-box-shadow: 2px -2px 25px -1px rgba(112,112,112,1);
    box-shadow: 2px -2px 25px -1px rgba(112,112,112,1);
    position: relative;
    padding: 0px;
}

#homeourclientsimage {
    width: 100%;
    display: block;
    max-height: 100%;
    vertical-align: top;
}

#homeourclientsimage img {
    max-width: 100%;
    max-height: 100%;
}

#homeourclientsbody {
    padding: 40px 5px;
    max-height: 100%;
    margin: auto 0;
    width: 100%;
    box-sizing: border-box;
}

#homeourclientsbody h6 {
    font-family: "Futura Light";
    color: #0e807e;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 20px;
    text-align: center;
}

.homeourclientsimage {
    width: 100%;
    display: block;
    max-height: 100%;
    vertical-align: top;
}

.homeourclientsimage img {
    max-width: 100%;
    max-height: 100%;
}

.homeourclientsbody {
    padding: 40px;
    max-height: 100%;
    margin: auto 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.homeourclientsbody h6 {
    font-family: "Futura Light";
    color: #0e807e;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 20px;
    text-align: center;
}

#homeourclientsbodydivider {
    width: 150px;
    border: solid 1px #0e807e;
    margin: 20px auto;
    text-align: center;
}

.homeourclientsbodydivider,
.homeourclientsbodydivider:before,
.homeourclientsbodydivider:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.homeourclientsbodydivider {
    width: 150px;
    border: solid 1px #0e807e;
    margin: 20px auto;
    text-align: center;
    height: 0px;
}

#homeourclientsbody P {
    font-family: "Futura Light";
    color: #000000;
    font-weight: bold;
    padding: 0 40px;
    font-size: 1rem;
    text-align: center;
}

.homeourclientsbody {
    padding: 40px 10px;
}

.homeourclientsbody P {
    font-family: "Futura Light";
    color: #000000;
    font-weight: bold;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
}

#footer {
    background-color: #0a3152;
}

#footerLeft {
    display: inline-block;
    width: 50%;
}

.footerLeftSubHeader {
    font-weight: bold;
}

#footerLeftHeader {
    color: #0e807e;
    margin-left: 30px;
    margin-top: 30px;
    font-family: "Futura Light";
    font-size: 1.2rem;
    font-weight: bold;
}

#footerLeft1 {
    color: #ffffff;
    width: 100%;
    display: inline-block;
    padding: 30px;
    box-sizing: border-box;
    font-family: "Futura Light";
}

#footerLeft1 p {
    margin: 10px 0;
}

#footerLeft2 {
    width: 100%;
    display: inline-block;
    padding: 30px;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Futura Light";
}

#footerLeft2 p {
    margin: 10px 0;
}

#footerRight {
    display: inline-block;
    width: 49%;
    text-align: right;
    vertical-align: top;
    margin-top: 50px;
}

#footerRight nav ul {
    margin: 30px 0;
}

#footerRight nav ul li {
    display: block;
    margin: 15px 15px;
}

#footerRight nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Futura Light";
}

#footerBottomDivider {
    margin: 0 auto 30px auto;
    border: 1px solid #ffffff;
    width: calc(100% - 60px);
}

#footerBottom {
    padding: 30px;
    color: #ffffff;
    background-color: #0e807e;
    font-family: "Futura Light";
    text-align: center;
}

#contactBody {
    padding: 20px 50px;
}

#contactDetails {
}

#contactDetails h6{
    color: #0e807e;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    margin: 10px 0;
}

#contactDetails a {
    text-decoration: none;
}

#contactDetails p {
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

#contactForm {
    text-align: left;
    margin: 40px 0;
    width: 100%;
}

#contactForm form label {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 30px 0 30px 0;
}

#contactForm form input, #contactForm form textarea {
    border: solid 1 #0e807e;
    padding: 10px;
    color: #000000;
}

#contactForm form input::placeholder, #contactForm form textarea::placeholder {
    color: #000000;
}

#contactForm form input {
    width: calc(50% - 38px);
}

#contactForm form textarea {
    width: calc(100% - 33px);
    margin: 20px 10px 20px 0;
}

#contactImage {
    display: none;
}

#ourworksection1, #ourworksection2, #ourworksection3, #ourworksection4 {
    padding: 40px 10px;
}

#footerLeft {
    width: 100%;
}

#footerRight {
    display: none;
}

.login-header {
    width: 100%;
    text-align: center;
    margin-top: 250px;
    font-family: "Futura Light";
    font-size: 30px;
}

.login-body {
    font-family: "Futura Light";
    width: 100%;
    text-align: center;
    margin: 80px 0 150px 0;
    font-size: 20px;
}

.login-submit {
    font-family: "Futura Light";
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
}
/* DESKTOP */
@media only screen and (min-width: 800px) {

    #ourworksection1, #ourworksection2, #ourworksection3, #ourworksection4 {
        padding: 40px 50px;
    }

    .homeourclientbody p {
        padding: 0 40px;   
    }

    #footerLeft {
        width: 50%;
    }

    #footerRight {
        display: inline-block;
    }

    #homesection1body {
        padding: 30px;
    }

    #homesection2body {
        padding: 40px;
    }

    #homesection3body {
        padding: 0 40px 40px 40px;
    }

    #homesection4 {
        padding: 50px 150px;
    }

    .homeareasblockimage {
        display: block;
        
    }

    #ourworksection1, #ourworksection2, #ourworksection3, #ourworksection4 {
        padding: 40px 100px;
    }

    .ourworksectiontext {
        width: 80%;
    }

    #footerLeft1 {
        width: 50%;
    }

    #footerLeft2 {
        width: 49%;
    }

    #footerRight {
        margin-top: 0px;
        vertical-align: bottom;
    }

    #contactComplete {
		width: 50%;
	}
	
	#contactComplete i {

	}
	
	#contactComplete img {
		max-width: 40%;

	}
	
	#contactComplete p {
		margin: 0;
	}

    .explore-nav {
        overflow: scroll;
    }

    #explore-left {
        width: 50%;
    }

    #explore-right {
        width: 49%;
    }

    #homesection1body h6 {
        padding: 0 150px; 
    }

    #contactForm {
        width: 50%;
    }

    #contactDetails h6 {
        padding: 0;
    }

    #contactBody {
        padding: 20px 150px;
        height: 700px;
    }

    #contactImage {
        position: absolute;
        right: 0;
        width: 600px;
        z-index: 1;
        display: block;
    }

    #contactBody div {
        z-index: 2;
    }
    
    #footerRight nav ul li {
        display: inline;
        margin: 0 15px;
    }

    .clientEntry {
        width: 20%;
    }

    #flexslider {
        margin-top: 150px;
    }

    .sliderText {
        position: absolute;
        bottom: 50px;
        color: #ffffff;
        z-index: 5;
        margin-left: 100px;
        font-size: 30px;
        display: block;
        text-align: center;
    }

    .sliderText small {
        font-size: 20px;
    }

    #desktopNav {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: #0a3152;
        height: auto;
        z-index: 10;
    }

    .socialIcons {
        display: block;
        text-align: right;
        margin-right: 40px;
    }

    .socialIcons img {
        width: 30px;
        display: inline-block;
        margin-top: 20px;
    }

    #desktopNavLogo {
        position: fixed;
        left: 40px;
        width: 200px;
    }

    /* Navbar container */
    .navbar {
        overflow: hidden;
        background-color: #0a3152;
        font-family: Arial;
        width: auto;
        float: right;
        display: block;
    }
    
    /* Links inside the navbar */
    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 6px;
        text-decoration: none;
        font-family: "Futura Light";
    }
    
    /* The dropdown container */
    .dropdown {
        float: left;
        overflow: hidden;
    }

    #homesection2and3 {
        background-image: linear-gradient(to bottom, #0a3152 40%, #ffffff 0%);
        text-align: center;
    }

    .homeareasblock {
        width: 25vw;
        margin: 0;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        border: none;
        margin: 0 -5px;
    }
    
    /* Dropdown button */
    .dropdown .dropbtn {
        font-size: 16px; 
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
        line-height: 20px;
    }

    .flex-viewport {
        
    }
    
    /* Add a red background color to navbar links on hover */
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #0a3152;
    }
    
    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #0a3152;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        text-align: center;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: #ffffff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
    }
    
    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #0a3152;
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    #hamburgericonmenuwrapper {
        display: none;
    }

    .navbar a h3 {
        font-size: 14px;
    }

    .navbar a p {
        font-size: 12px;
    }

    .dropbtn h3 {
        font-size: 14px;
        font-family: "Futura Light";
    }

    .dropbtn p {
        font-size: 14px;
        font-family: "Futura Light";
    }

    #homesection1 {
        margin: 20px;
        width: calc(100% - 40px);
        box-sizing: border-box;
    }

    #homeourclients {
        padding: 40px;
        width: calc(95% - 80px);
    }

    .homeourclients {
        padding: 40px;
        width: calc(95% - 80px);
    }

}

/* DESKTOP */
@media only screen and (min-width: 1000px) {

    .flex-viewport {
        
    }

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 18px;
        text-decoration: none;
        font-family: "Futura Light";
    }

    #homeourclients { 
        margin: 0 auto;
        width: calc(95% - 80px);
        background-color: #ffffff;
        height: auto;
        padding: 40px;
        box-sizing: border-box;
        display: flex;
        z-index: 5;
        -webkit-box-shadow: 2px -2px 25px -1px rgba(112,112,112,1);
        -moz-box-shadow: 2px -2px 25px -1px rgba(112,112,112,1);
        box-shadow: 2px -2px 25px -1px rgba(112,112,112,1);
        position: relative;
    }
    
    .homeourclients { 
        margin: 0 auto;
        width: calc(95% - 80px);
        background-color: #ffffff;
        height: auto;
        box-sizing: border-box;
        display: flex;
        z-index: 5;
        -webkit-box-shadow: 2px -2px 25px -1px rgba(112,112,112,1);
        -moz-box-shadow: 2px -2px 25px -1px rgba(112,112,112,1);
        box-shadow: 2px -2px 25px -1px rgba(112,112,112,1);
        position: relative;
    }
    
    #homeourclientsimage {
        width: 50%;
        display: block;
        max-height: 100%;
        vertical-align: top;
    }
    
    #homeourclientsimage img {
        max-width: 100%;
        max-height: 100%;
    }
    
    #homeourclientsbody {
        padding: 40px;
        max-height: 100%;
        margin: auto 0;
        width: 50%;
    }
    
    #homeourclientsbody h6 {
        font-family: "Futura Light";
        color: #0e807e;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 20px;
        text-align: center;
    }
    
    .homeourclientsimage {
        width: 50%;
        display: block;
        max-height: 100%;
        vertical-align: top;
    }
    
    .homeourclientsimage img {
        max-width: 100%;
        max-height: 100%;
    }
    
    .homeourclientsbody {
        padding: 40px;
        max-height: 100%;
        margin: auto 0;
        width: 50%;
    }
    
    .homeourclientsbody h6 {
        font-family: "Futura Light";
        color: #0e807e;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 20px;
        text-align: center;
    }
    
    #homeourclientsbodydivider {
        width: 150px;
        border: solid 1px #0e807e;
        margin: 20px auto;
        text-align: center;
    }
    
    .homeourclientsbodydivider {
        width: 150px;
        border: solid 1px #0e807e;
        margin: 20px auto;
        text-align: center;
    }

    .homeourclientsbodydivider,
.homeourclientsbodydivider:before,
.homeourclientsbodydivider:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
    
    #homeourclientsbody P {
        font-family: "Futura Light";
        color: #000000;
        font-weight: bold;
        padding: 0 40px;
        font-size: 1rem;
        text-align: center;
    }
    
    .homeourclientsbody P {
        font-family: "Futura Light";
        color: #000000;
        font-weight: bold;
        padding: 0 40px;
        font-size: 1rem;
        text-align: center;
    }

}

@media only screen and (min-width: 1200px) {

    .readMoreButton {
        margin: 20px;
    }

    .navbar a h3 {
        font-size: 22px;
    }

    .navbar a p {
        font-size: 14px;
    }

    .dropbtn h3 {
        font-size: 22px;
        font-family: "Futura Light";
    }

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 36px;
        text-decoration: none;
        font-family: "Futura Light";
    }

}

